<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.1/dist/jquery.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
<title>Kitablar</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<style>
#username{
display: inline-block;font-size: 24px;font-weight: bold;margin: 0;
}
.book-image{width: 40px;}
</style>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<link rel="stylesheet" type="text/css"
	href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.css">

<script type="text/javascript" charset="utf8"
	src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.js"></script>

<script>
	$(document).ready(function() {
		$('#books-table').DataTable();
	});
</script>
</head>
<body>
	<div th:replace="menu :: menu"></div>
	
    
	<div class="container-fluid">
<div style="height: 5px;">

</div>


		<a class="btn btn-success" th:href="@{/books/new-book}">Yeni kitab</a>
		<span id="username" th:text="${username}"></span>
		<div style="height: 5px"></div>
	


		<table id="books-table" class="table table-hover table-bordered table-striped">
			<thead>
				<tr>
					<th>ID</th>
					<th>Ad</th>
					<th>Təsvir</th>
					<th>Qiymət</th>
					<th>Müəllif</th>
					<th>Səhifə sayı</th>
					<th>Şəkil</th>
					<th>Əməliyyatlar</th>
				</tr>

			</thead>
			<tbody>
				<tr th:each="book : ${books}">
					<td th:text="${book.id}"></td>
					<td th:text="${book.name}"></td>
					<td th:text="${book.description}"></td>
					<td th:text="${book.price}"></td>
					<td th:text="${book.author}"></td>
					<td th:text="${book.pageCount}"></td>
					
					<td><img class="book-image"
					 th:src="@{'/files/'+${book.image}}" /></td>
					
					
					<td><a th:href="@{/books/delete/{id}(id=${book.id})}"
						class="btn btn-danger"
						th:onclick="if(!(confirm('Kitabı silməyə əminsiniz?')))return false">Sil</a>
						<a th:href="@{/books/edit/{id}(id=${book.id})}"
						class="btn btn-primary">Redaktə</a></td>
				</tr>

			</tbody>

		</table>
	</div>

</body>
</html>