<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Alıcı</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<link th:href="@{/styles/customer.css}" rel="stylesheet" />
<style>
</style>
</head>
<body>

	<div th:replace="menu :: menu"></div>
	<h1>Alıcı</h1>
	<div id="main-content">
		<div class="book-container" th:each="book: ${books}">
			<div class="book">
				<span class="book-image"></span> <span class="book-name"></span> <span
					class="book-price"></span> <span class="book-description"></span> <span
					class="book-author"></span> <span class="book-page-count"></span>
				<div class="add-to-basket">
					<button class="add-to-basket-btn btn btn-primary">Səbətə
						at</button>
				</div>
			</div>
		</div>
	</div>

</body>
</html>