<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Ana Səhifə</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<style>
#name {
	background-color: lime;
	padding: 5px;
	display: inline-block;
}

body {
	background-image: url("images/foto.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}
</style>
</head>
<body>

	<div th:replace="menu :: menu"></div>
	<br>
	<div class="container-fluid">
		<h1 id="name" style="color: blue;">Kitab alış-verişi saytımıza
			xoş gəlmisiniz</h1><br>
		<a class="btn btn-primary" th:href="@{/books}">Kitabların siyahısı</a>
		<a class="btn btn-warning" th:href="@{/customer}">Kitablar
			alış-verişinə başla</a> <a class="btn btn-success" th:href="@{/orders}">Sifarişlərim</a>
		<a class="btn btn-danger" th:href="@{/logout}">Çıxış</a>
	</div>


</body>
</html>