<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Menu</title>
</head>
<body>
	<div th:fragment="menu">

		<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
			<ul class="navbar-nav">
				<li class="nav-item"><a class="nav-link" th:href="@{/}">Əsas səhifə</a></li>
				<li class="nav-item"><a class="nav-link" th:href="@{/books}">Kitablar</a></li>
				<li class="nav-item"><a class="nav-link" th:href="@{/orders}">Sifarişlər</a></li>
				<li class="nav-item"><a class="nav-link" th:href="@{/customer}">Alıcı</a></li>
			</ul>
			<ul class="navbar-nav navbar-collapse justify-content-end">
				<li><a class="nav-link" th:href="@{/login}">Giriş</a></li>
						<li><a class="nav-link" th:href="@{/logout}">Çıxış</a></li>
			</ul>
		</nav>



	</div>


</body>
</html>