<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Yeni kitab</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<style>
#book-register-form {
	width: 300px;
	margin: auto;
}
</style>
</head>
<body>
	<h1  th:text="${header}"style="text-align: center;color: green;">Yeni Kitab</h1>
	<form th:action="@{/books/new-book-process}" method="POST"
		th:object="${book}" id="book-register-form">

		<br> <input type="hidden" th:field="*{id}" />

		<div class="form-group">
			<label for="book-name">Ad:</label><br> <input
				class="form-control" id="book-name" th:field="*{name}" />
		</div>

		<div class="form-group">
			<label for="book-description">Təsvir:</label><br>
			<textarea class="form-control" id="book-description"
				th:field="*{description}" /></textarea>
		</div>

		<div class="form-group">
			<label for="book-price">Qiymət:</label><br> <input
				class="form-control" type="number" id="book-price"
				th:field="*{price}" />
		</div>

		<div class="form-group">
			<label for="book-author">Müəllif:</label><br> <input
				class="form-control" id="book-author" th:field="*{author}" />
		</div>

		<div class="form-group">
			<label for="book-page-count">Səhifə sayı:</label><br> <input
				class="form-control" type="number" id="book-page-count"
				th:field="*{pageCount}" />
		</div>


		<input class="btn btn-success" type="submit" value="Yadda saxla" /><br>
		<br> <a class="btn btn-primary" th:href="@{/books}">Kitabların
			siyahısı</a>

	</form>
</body>
</html>