<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Sifariş qeydiyyatı</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<style>


</style>
</head>
<body>

	<div th:replace="menu :: menu"></div>
	<div class="container ">
		<h1 id="name" style="color: blue;">Sifarişiniz qəbul olundu</h1>

		<a class="btn btn-success" th:href="@{/customer}">Alış-verişə davam et</a>
	</div>

<script>
localStorage.setItem('basketBooks','[]');
</script>
</body>
</html>