<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Sifarişlər</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<style>
</style>
</head>
<body>

	<div th:replace="menu :: menu"></div>
	<br>
	<h1 id="name" style="color: blue">Sifarişlər</h1>



	<table id="orders-table"
		class="table table-hover table-bordered table-striped">
		<thead>
			<tr>
				<th>ID</th>
				<th>Tarix</th>
				<th>Qeyd</th>

			</tr>

		</thead>
		<tbody>
			<tr th:each="order : ${orders}">
				<td th:text="${order.id}"></td>
				<td th:text="${order.register}"></td>
				<td th:text="${order.note}"></td>





			</tr>

		</tbody>

	</table>

</body>
</html>